*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(78, 72, 155);
    text-align: center;
}
h1{
    font-family:sans-serif;
    font-size: 6vh;
    padding: 3vh;

}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 40px 10px 60px;
}
.game{
    height: 46vh;
    width: 46vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8vh;
    align-items: center;
    border-radius: 2vh;
}
.box{
    height:12vh ;
    width: 12vh;
    border-radius: 2vh;
    border: none;
    color: rgb(179, 183, 183);
    font-size: 50px;
    box-shadow: 5px 5px 5px 5px rgb(0,0, 8,0.3);
}

.reset{
    font-size: 25px;
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 5px 10px 5px;
    margin-top: 30px;
    border-radius: 5px;
}

#winner{
    font-size: 4vh;
    padding: 9px;
    color: rgb(0, 11, 12);
}
#newbtn{
    font-size: 3vh;
    background-color: rgb(157, 135, 165);
    border-radius: 1vh;
    border: none;
    height: 8vh;
    width: 20vh;
    color:rgb(15, 1, 1);
}
.msgcontainer{
    height: 20vh;
}
.hide{
    display: none;
}